* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #bf0603
}

#quantocosta {
  font-family: sans-serif;
  text-align: center;
  margin-top: 25%;
  color: white;
  text-shadow: 4px 2px grey;
}

h3 {
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 2px grey;
}
